<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>MarketArena - 360 trading network</title>
        <meta charset="UTF-8">
        <meta name="description" content="Market Arena is a complete 360 trading network empowering traders with expert trading signals on forex, indices, commodities, stocks and cryptocurrencies. Find your trade in a matter of seconds with Market Arena.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css"/>
        <link rel="stylesheet" href="/css/general.css"/>
        <link rel="stylesheet" href="/css/home.css"/>
        <!--DEV_HEAD_EXT-->
        <!--PROD_HEAD_EXT-->
    </head>
    <body>
        <!--DEV_TOB_BODY_EXT-->
        <!--PROD_TOB_BODY_EXT-->
        <main>
            <!-- header -->
            <header>
                <div class="container">
                    <a href="/"><img class="logo" src="/img/logo.svg" alt="market arena" loading="lazy" width="299" height="29"></a>

                    <div id="langWrap">
                        <div class="langInit en_lang"><span>English</span></div>
                        <div class="langPop">
                            <p class="title">{{Select_category_label}}</p>
                            <ul>
                                <li><a class="en_lang"><span>{{app_English}}</span><div class="radioBtn active"></div></a></li>
                                <li><a class="fr_lang"><span>{{app_French}}</span><div class="radioBtn"></div></a></li>
                                <li><a class="ar_lang"><span>{{app_Arabic}}</span><div class="radioBtn"></div></a></li>
                                <li><a class="it_lang"><span>{{app_Italian}}</span><div class="radioBtn"></div></a></li>
                                <li><a class="de_lang"><span>{{app_Deutsch}}</span><div class="radioBtn"></div></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <!-- homepage -->
            <section id="home">

                <!-- top section -->
                <section id="top">
                    <div class="container">
                        <div class="main-wrap">
                            <img class="device desktop" src="/img/top/device.png" alt="market arena" loading="lazy" width="570" height="794">
                            <img class="device mobile" src="/img/top/device_mobile.png" alt="market arena" loading="lazy" width="278" height="546">
                            <div class="inner-wrap">
                                <h1>{{market_arena}}</h1>
                                <h2>{{hp_top_sentence}}</h2>
                                <div class="qr-wrap">
                                    <p>{{scan_qr}}</p>
                                    <div id="qr-code">
                                        <img src="/img/top/qr.png" alt="qr" loading="lazy">
                                    </div>
                                </div>
                                <div class="apps">
                                    <a class="btn google" href="https://play.google.com/store/apps/details?id=com.alvexo" target="_blank"><img src="/img/google-play.png" alt="google play" loading="lazy" width="191" height="59"></a>
                                    <a class="btn apple" href="https://apps.apple.com/app/alvexo/id1403847666" target="_blank"><img src="/img/app-store.png" alt="app store" loading="lazy" width="191" height="59"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- signals section -->
                <section id="signals">
                    <div class="container">
                        <h2 class="title">{{hp_two_sentence_title}}</h2>
                        <h3>{{hp_two_sentence_body}}</h3>
                        <div class="main-wrap">
                            <div class="inner-wrap">
                                <h4>{{hp_two_sentence_body_one}}</h4>
                                <p>{{hp_two_sentence_body_two}}</p>
                            </div>
                            <div class="devices">
                                <img class="device1" src="/img/signals/opend.png" alt="" loading="lazy" width="308" height="580">
                                <img class="device2" src="/img/signals/splash.png" alt="" loading="lazy" width="317" height="596">
                            </div>
                        </div>
                    </div>
                </section>

                <!-- bottom section -->
                <section id="bottom">
                    <div class="container">
                        <img class="logo" src="/img/bottom/logo_square.svg" alt="market arena" loading="lazy" width="153" height="153">
                        <p>{{hp_three_sentence_title}}</p>
                        <div class="apps">
                            <a class="btn google" href="https://play.google.com/store/apps/details?id=com.alvexo" target="_blank"><img src="/img/google-play.png" alt="google play" loading="lazy" width="191" height="59"></a>
                            <a class="btn apple" href="https://apps.apple.com/app/alvexo/id1403847666" target="_blank"><img src="/img/app-store.png" alt="app store" loading="lazy" width="191" height="59"></a>
                        </div>
                    </div>
                </section>

            </section>

            <!-- cookies policy -->
            <div class="cookies_policy">
                <div class="container">
                    <p>{{Cookie_sentence}} <a href="https://marketarena.com/docs/Coolie_policy_market_arena.pdf" onclick="return !window.open(this.href, 'Privacy', 'scrollbars=yes,resizeable=yes,width=1100,height=700')" target="_blank">{{Cookie_sentence_read}}</a></p>
                    <div class="btn acccept_btn">{{accept_label}}</div>
                </div>
            </div>

            <!-- footer -->
            <footer>
                <div class="container">
                    <img class="logo" src="/img/footer/logo.svg" alt="market arena" loading="lazy" width="74" height="62">
                    <div class="middleWrap">
                        <ul>
                            <li><a href="#">{{TC_privacy_policy}}</a><span class="sep">|</span></li>
                            <li><a href="#">{{Terms_of_use}}</a><span class="sep">|</span></li>
                            <li><a href="#">{{risk_disclaimer}}</a></li>
                        </ul>
                    </div>
                    <div class="right-side">
                        <ul>
                            <li><a href="https://play.google.com/store/apps/details?id=com.alvexo" target="_blank"><img class="google_play_logo" src="/img/footer/google-play.svg" alt="google play" loading="lazy" width="32" height="32"></a></li>
                            <li><a href="https://apps.apple.com/app/alvexo/id1403847666" target="_blank"><img class="apple_logo"src="/img/footer/apple.svg" alt="app store" loading="lazy" width="32" height="32"></a></li>
                            <li><a href="https://www.facebook.com/market-arena" target="_blank"><img class="facebook_logo" src="/img/footer/facebook.svg" alt="facebook" loading="lazy" width="11" height="24"></a></li>
                        </ul>
                    </div>
                    <p class="copyrights">{{footer_ma}}</p>
                </div>
            </footer>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/script.js"></script>
        <!--DEV_BOTTOM_BODY_EXT-->
        <!--PROD_BOTTOM_BODY_EXT-->
    </body>
</html>